<header>
    <h1>Creative Space</h1>
    <div class="user-info">
        <span style="font-size:larger">{{username}}</span>
        <img [src]="profile_pic_url" alt="">
        <!-- <img src="https://th.bing.com/th/id/OIP.IGNf7GuQaCqz_RPq5wCkPgAAAA?w=116&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="User Avatar"> -->
         <span class="material-symbols-outlined notifi-icon">notifications_unread</span>
        <button>
            <span class="material-symbols-outlined plus-icon">add_circle</span>
            Join
        </button>
        <button (click)="logout()" class="logout">Logout
            <span class="material-symbols-outlined logout">logout</span>
        </button>
    </div>
</header>

<!-- <header>
    <h1>Creative Space</h1>
    <div class="user-info">
        <span style="font-size:larger">{{username}}</span>
        <img src="https://th.bing.com/th/id/OIP.IGNf7GuQaCqz_RPq5wCkPgAAAA?w=116&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
         alt="User Avatar">
         <span class="material-symbols-outlined notifi-icon">notifications_unread</span>
        <button>
            <span class="material-symbols-outlined plus-icon">add_circle</span>
            Join
        </button>
    </div>
</header> -->