<form [formGroup]="registerForm">
  <div class="register-container">
    <h2 align="center">Register Form</h2>
    <hr style="margin-bottom: 40px;">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" formControlName="username" name="username">
    
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" formControlName="password" name="password">
    <div>
      <label for="profilePicture">Profile Picture:</label>
      <input type="file" id="profile_picture" (change)="onFileChange($event)" name="profile_picture">
    </div>
    <!-- <div class="error-message" style="margin: 10px; color:red;">
      @if (errorMessage){
          {{ errorMessage }}
      }
    </div> -->
    <button type="submit" (click)="registerUser()">Register</button>
    <div class="container" style="background-color:#f1f1f1">
      <button type="reset" class="resetbtn">Reset</button>
      <span class="register-url">Already Have an Account <a routerLink="/login">Login</a></span>
    </div>
  </div>
</form>