<form>
<div class="register-container">
  <h2 align="center">Register Form</h2>
  <hr style="margin-bottom: 40px;">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="username" required>
  
  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required>
  <div>
    <label for="profilePicture">Profile Picture:</label>
    <input type="file" id="profile_picture" (change)="onFileSelected($event)" name="profile_picture" required>
  </div>
  <div class="error-message" style="margin: 10px; color:red;">
    @if (errorMessage){
        {{ errorMessage }}
    }
  </div>
  <button type="submit" (click)="register()">Register</button>
  <div class="container" style="background-color:#f1f1f1">
    <button type="reset" class="resetbtn">Reset</button>
    <span class="psw">Already Have an Account <a href="#">Login</a></span>
  </div>
</div>
</form>
 

  